<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--  -->
<bean id="arts" class="com.training.bean.StudentFactoryBean" >
<property name="stStream" value="Arts"/>

</bean>


<bean id="science" class="com.training.bean.StudentFactoryBean" >
<property name="stStream" value="Science"/>

</bean>

<bean id="comerce" class="com.training.bean.StudentFactoryBean" >
<property name="stStream" value="Comerce"/>

</bean>



</beans>